<nav class="level">
  <div class="level-left is-mobile">
    <%= link_to tweet, class: 'level-item transparent' do %>
      <span class='icon'><i class="fa fa-link" aria-hidden='true'></i></span>
    <% end %>
    <%= link_to tweet, method: :delete, class: 'transparent', data: { confirm: 'Are you sure you want to delete this tweet?' } do %>
      <span class='icon'><i class='fa fa-trash-o' aria-hidden='true'></i></span>
    <% end %>
  </div>
</nav>