<section class="section">
  <div class="container">
    <div class="columns">
      <%= user_is_signed_in_column %>
      <%= render 'feed' %>
      <%= render 'who_to_follow' %>
    </div>
  </div>
</section>

