<div class="container my-10">
<nav class="panel">
  <p class="panel-heading"><%= @user.name %></p>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= gravatar_image_tag(@user.email, size: 64, alt: @user.username) %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
         <div class="panel-block">
          <div class="level is-mobile">
            <div class="level-item has-centered-text">
              <div>
                <p class="heading">Tweeets</p>
                <p class="title is-6"><%= @user.tweets.count %></p>
              </div>
            </div>
            <div class="level-item has-centered-text">
              <div>
                <p class="heading">Following</p>
                <p class="title is-6">123</p>
              </div>
            </div>
              <div class="level-item has-centered-text">
              <div>
                <p class="heading">Followers</p>
                <p class="title is-6">465K</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </article>
  </div>
  
  <div class="content p-all">
    <time datetime="2016-1-1">Joined <%= time_ago_in_words(@user.created_at) %> ago</time>
  </div>
</nav>
</div>
